fieldset {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 0.45em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove gray;
  border-radius: 25px;
}